#sidebar{
    position:fixed;
    left: 0px;
    width:200px;
    height:100%;
    top:50px;
    background:#00FFA4;
  }
  
  #sidebar ul li{
    color: rgba(0, 0, 0, 0.9);
    list-style:none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.9);
  }
  
  #sidebar .toggle{
    position:absolute;
    left:230px;
    top:20px;
  }
  
  #sidebar .toggle span{
    display:block;
    width:30px;
    height:5px;
    background:#151719;
    margin: 3px 0px;
  }
  
  #sidebar.active{
    left:-200px;
  }
  
  
  