.graph-container{
  /* margin-left: 200px; */
  background: black;
}

#main{
  /* margin-left: 200px; */
}


/* #line-tab{
  font-family: 'Courier New', Courier, monospace;
  color: red;
  background: red;
} */