.buttons {
  padding-top: 100px;
  left: 200px;
  background: red;
  top: 150px;
  
}

/* .nav-link{
  margin-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
  background: #c1f0c1;
  color: black; 
} */

#first{
  font-family: 'Courier New', Courier, monospace;
  background: #c1f0c1;
  color: black; 
}